body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway';
    background-image: linear-gradient(267deg, #00d7d7, #00a5f0);
    height: 100vh;
}

h2{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0073cd;
}

.input{
    $i: &;
    background-color: #f3fafd9c;
    border: solid 1px #7a838c4a;
    border-radius: 3px;
    width: calc(100% - 20px);
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #565656;
    transition: box-shadow .2s linear, border-color .25s ease-out;
    padding: 0px 10px;
    margin: 10px 0 0 0;

    &--error{
        border: solid 1px #ff4650;
    }
}

.error-message{
    line-height: 18px;
    font-size: 12px;
    color: #ff4650;
    font-weight: bold;
    margin: 0px 10px;
}

.button {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    min-width: 15rem;
    padding: .625rem 1.25rem;
    border: none;
    border-radius: 6.25rem;
    text-align: center;
    background: #00a5f0;
    cursor: pointer;
    -webkit-transition: 350ms;
    transition: all 350ms ease;
    font-size: 1rem;
    line-height: 1.25rem;
    color: white;
    margin: 30px 0 0 0;
}

.hidden{
    opacity: 0;
}

.animation{
    animation: fade 500ms 0s infinite;
}

.animation-santa{
    animation: santa 4s 0s infinite;
}



.ilustration{
    $i: &;
    background: #00d7d7;
    border-radius: 9999px;
    height: 200px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    transition: background 200ms ease;
    user-select: none;
    width: 200px;

    &__image-tree-1{
        z-index: 10;
        width: 218px;
        position: relative;
        top: -7px;
        right: 7px;
    }

    &__image-tree-2{
        z-index: 10;
        width: 218px;
        position: absolute;
        top: -8px;
        right: -11px;
    }

    &__image-santa{
        position: absolute;
        z-index: 2;
        width: 37px;
        top: 135px;
        left: 63px;
    }
}

header{
    padding: 40px 0;

    &::before{
        content: '';
        background-image: linear-gradient(139deg, #00a5f0, #00d7d7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        z-index: 9999;
    }
}

.login{
    $i: &;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 5px;
    max-width: 30em;
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    &__form{
        width: 100%;
    }
}

@keyframes fade {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes santa {
    0%   { top: 135px; }
    100% { top: 123px; }
}

.select {
    background-color: #f3fafd9c;
    border: solid 1px #7a838c4a;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    color: #565656;
    transition: box-shadow .2s linear, border-color .25s ease-out;
    padding: 0px 10px;
    margin: 10px 0 0 0;
}

.alert{
    display: flex;
    flex-direction: row;
    width: calc(100% - 43px);
    max-width: 452px;
    padding: 10px;
    background: #d7f0ff;
    color: #0073cd;
    align-items: center;
    border-left: 7px solid #00a5f0;
    border-radius: 3px;
    font-size: 14px;
    justify-content: space-between;
    position: absolute;
    z-index: 300;
    margin: 29px 0px 0px 0px;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
  }

  @keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.alert--hidden{
    display: none;
}
  
.material-icons{
    margin-left: 10px;
    color: #00a5f0;
    cursor: pointer;
}

  