body{
    background: #00a5f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    max-width: 2280px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.login-box{
    $i: &;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
    max-width: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #{$i}__image{
        position: relative;
        margin-top: 25px;
    }

    #{$i}__container{
        background-color: white;
        margin:10px;
        max-width: 500px;
        border-radius: 20px;
       
    }

    &__form{
        width: 100%;
    }

    &::before{
        // content: '';
        background-image: linear-gradient(139deg, #00a5f0, #00d7d7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        z-index: 9999;
    }
}

.button{
    text-transform: uppercase;
    min-width: 150px;
    padding: 10px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    background-color: #00a5f0;
    color: #fff;
    font-weight: bold;
    transition: background-color 2s ease-out;
}

.image{
    background: #00a5f0;
    border-radius: 9999px;
    height: 180px;
    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    transition: background 200ms ease;
    user-select: none;
    width: 180px;
}

input{
    background-color: #f3fafd9c;
    border: solid 1px #7a838c4a;
    border-radius: 3px;
    width: calc(100% - 40px);
    height: 40px;
    line-height: 20px;
    font-family: averta,Arial,sans-serif;
    font-size: 14px;
    color: #353538;
    transition: box-shadow .2s linear, border-color .25s ease-out;
    padding: 0px 20px;
    margin: 10px 0;
}
